{% extends 'base.html.twig' %}

{% block title %}Puntosintermedios{% endblock %}

{% block body %}
    <h1>Puntosintermedios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ puntosintermedio.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('puntosintermedios_index') }}">back to list</a>

    <a href="{{ path('puntosintermedios_edit', {'id': puntosintermedio.id}) }}">edit</a>

    {{ include('puntosintermedios/_delete_form.html.twig') }}
{% endblock %}
